body{
    text-align: center;
    background-size: cover;
}
img { 
    width:400px;
    height:450px;
}

.p1{
  color:aliceblue;
}

.p2{
    color:aliceblue;
}
.p3{
    color:aliceblue;
    margin-top: -20px
}