body{
    text-align: center;
    background-size: cover;
}
img { 
    width:400px;
    height:700px;
}

.p1{
  color:aliceblue;
}
p{
    color:aliceblue
}
a:link{
    color: aliceblue;
}
a:visited{
    color:aliceblue;
}