body{
    background-size: cover;
    text-align: center;
}
p{
    color:aliceblue
}
div{
    background-color: azure;
    background:rgba(255,255,255,0.3);
    height:100px;
    width:1000px;
    border:5px;
    padding:5px;
    margin: 0 auto
}