body{
    background-size: cover;
}
p{
    color:aliceblue;
    text-shadow: 5px 3px 5px #000000;
}
div{
    height:300px;
    width:300px;
    border:10px;
    padding: 20px;
    margin: 0 auto
}
ul{
    color:aliceblue
}
a:link{
    color: aliceblue;
}
a:visited{
    color:aliceblue;
}
ul{
List-style:none;
}
