@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto:ital,wght@1,100&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapper:hover p span {
  animation: smoke 1.75s ease-in forwards;
}

p {
  opacity: 0;
  margin: 0;
  font-style: italic;
  color: #f5f5f5;
  filter: blur(0.02vmin);
  animation: fade-in 1s ease-in-out forwards;
  text-shadow: 0 0 2vmin #df725d;
}
p span {
  display: inline-block;
}
p.dream {
  font-size: 24vmin;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: -10% 0 -5%;
  animation-delay: 1s;
}
p.dream span {
  margin-left: -6%;
}
p.dream span:nth-child(1) {
  animation-delay: 0.6s;
}
p.dream span:nth-child(2) {
  animation-delay: 1s;
}
p.dream span:nth-child(3) {
  animation-delay: 0.8s;
}
p.dream span:nth-child(4) {
  animation-delay: 1.4s;
}
p.dream span:nth-child(5) {
  animation-delay: 1.2s;
}
p.hour {
  font-size: 9vmin;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 25%;
    margin-top: 10px;
  animation-delay: 1.5s;
}
p.hour span {
  margin-left: -1.5%;
}
p.hour span:nth-child(1) {
  animation-delay: 1.4s;
}
p.hour span:nth-child(2) {
  animation-delay: 1.2s;
}
p.hour span:nth-child(3) {
  animation-delay: 1.6s;
}
p.hour span:nth-child(4) {
  animation-delay: 1.8s;
}

.star {
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #f5f5f5;
  animation: twinkle 4s infinite;
}
.star.medium {
  height: 2px;
  width: 2px;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes smoke {
  0% {
    transform: rotate(0deg) translate3d(0%) skew(0deg) scale(1);
    opacity: 1;
    filter: blur(0.02vmin);
  }
  100% {
    transform: rotate(15deg) translate3d(85%, -75%, 0) skew(-30deg) scale(2);
    opacity: 0;
    filter: blur(2.5vmin);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-2vmin, 2vmin, 0);
    filter: blur(1vmin);
  }
  100% {
    opacity: 1;
    transform: translate3d(0);
    filter: blur(0.02vmin);
  }
}
            .header-fixed {
                width: 100vw;
                height: 44px;
                box-sizing: border-box;
                padding: 7px 3px;
                position: fixed;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -280px;
            }

            .header-fixed-back {
                width: 30px;
                height: 30px;
                /* display: flex;
                justify-content: center;
                align-items: center; */
            }

            .header-fixed-placeholder {
                height: 60px;
                width: 100vw;
            }

audio{
    display:none
}


.footer-fixed {
                bottom: 0;
                width: 100%;
                height: 50px;
                display: flex;
                position: fixed;
            }
            .footer-fixed-list {
                flex: 1;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .footer-text {
                font-size: 15px;
                color: #fff;
                margin-left: 60px;
                margin-top: -5px;
            }
            .header-fixed-back footer-icon {
                margin-top: 5px;
            }
            .footer-fixed-placeholder {
                height: 50px;
                width: 100vw;
                margin-top: 30px;
            }
.img1{
    margin-left:-80px
}
.img2{
    margin-left: 25px
}
.footer-text1{
    margin-top: -23px;
    font-size: 18px;
    margin-left: 100px;
    color:white
}
.header-fixed-back footer-icon2 {
                margin-top: 5px;
            }

.footer-text3{
    margin-top: -3px;
    font-size: 15px;
    margin-left: -5px;
    color:white
}
video{  
            position: fixed;  
            right: 0px;  
            bottom: 0px;  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
            min-width: 100%;  
            min-height: 100%;  
            height: auto;  
            width: auto;  
            opacity: 80%;
        }  
.scroll{
    color: white;
    margin-right: 30px;
    font-size: 20px;
}
